@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

:root {
    --laranja: #ff6734;
}
.dropdown-toggle::after {
    content: none;
}


body{
    background-color: #c0bcbc83 !important;
}